apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: metricwebhooks.metrics.wingsofovnia.github.com
spec:
  group: metrics.wingsofovnia.github.com
  names:
    kind: MetricWebhook
    listKind: MetricWebhookList
    plural: metricwebhooks
    singular: metricwebhook
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: MetricWebhook is the Schema for the metricwebhooks API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: MetricWebhookSpec defines the desired state of MetricWebhook
          properties:
            metrics:
              description: metrics contains the specifications for metrics thresholds
                used to trigger webhook
              items:
                description: MetricSpec specifies metrics thresholds before webhook
                  gets called
                properties:
                  pods:
                    description: pods refers to a metric describing each pod matching
                      the selector (for example, transactions-processed-per-second).
                      The values will be averaged together before being compared to
                      the target value.
                    properties:
                      name:
                        description: name is the name of the metric in question
                        type: string
                      targetAverageValue:
                        description: targetAverageValue is the target value of the
                          average of the metric across all relevant pods (as a quantity)
                        type: string
                    required:
                    - name
                    - targetAverageValue
                    type: object
                  resource:
                    description: resource refers to a resource metric (such as those
                      specified in requests and limits) known to Kubernetes describing
                      each pod matching the selector (e.g. CPU or memory).
                    properties:
                      name:
                        description: name is the name of the resource in question.
                        type: string
                      targetAverageUtilization:
                        description: targetAverageUtilization is the target value
                          of the average of the resource metric across all relevant
                          pods, represented as a percentage of the requested value
                          of the resource for the pods.
                        format: int32
                        type: integer
                      targetAverageValue:
                        description: targetAverageValue is the target value of the
                          average of the resource metric across all relevant pods,
                          as a raw value (instead of as a percentage of the request),
                          similar to the "pods" metric source type.
                        type: string
                    required:
                    - name
                    type: object
                  type:
                    description: type is the type of metric source.  It should be
                      "Pods" or "Resource", each mapping to a matching field in the
                      object.
                    enum:
                    - Pods
                    - Resource
                    type: string
                required:
                - type
                type: object
              type: array
            scrapeInterval:
              description: scrapeInterval defines how frequently to scrape metrics
              type: string
            selector:
              description: Selector is a label selector for pods for which metrics
                should be collected
              properties:
                matchExpressions:
                  description: matchExpressions is a list of label selector requirements.
                    The requirements are ANDed.
                  items:
                    description: A label selector requirement is a selector that contains
                      values, a key, and an operator that relates the key and values.
                    properties:
                      key:
                        description: key is the label key that the selector applies
                          to.
                        type: string
                      operator:
                        description: operator represents a key's relationship to a
                          set of values. Valid operators are In, NotIn, Exists and
                          DoesNotExist.
                        type: string
                      values:
                        description: values is an array of string values. If the operator
                          is In or NotIn, the values array must be non-empty. If the
                          operator is Exists or DoesNotExist, the values array must
                          be empty. This array is replaced during a strategic merge
                          patch.
                        items:
                          type: string
                        type: array
                    required:
                    - key
                    - operator
                    type: object
                  type: array
                matchLabels:
                  additionalProperties:
                    type: string
                  description: matchLabels is a map of {key,value} pairs. A single
                    {key,value} in the matchLabels map is equivalent to an element
                    of matchExpressions, whose key field is "key", the operator is
                    "In", and the values array contains only "value". The requirements
                    are ANDed.
                  type: object
              type: object
            webhook:
              description: webhook points to the web endpoint that going to get metric
                alerts
              properties:
                path:
                  description: URL path to the webhook
                  type: string
                port:
                  description: Service port the webserver serves on
                  format: int32
                  type: integer
                service:
                  description: Referent service
                  type: string
                url:
                  description: Explicit URL to hit, instead of matching service
                  type: string
              type: object
          required:
          - metrics
          - scrapeInterval
          - selector
          - webhook
          type: object
        status:
          description: MetricWebhookStatus defines the observed state of MetricWebhook
          properties:
            metrics:
              description: metrics is the last read state of the metrics used by this
                MetricWebhook.
              items:
                description: MetricStatus describes the last-read state of a single
                  metric.
                properties:
                  alerting:
                    description: alerting flags the metrics those values exceed defined
                      thresholds
                    type: boolean
                  pods:
                    description: pods refers to a metric describing each pod matching
                      the selector (for example, transactions-processed-per-second).
                      The values will be averaged together before being compared to
                      the target value.
                    properties:
                      currentAverageValue:
                        description: currentAverageValue is the current value of the
                          average of the metric across all relevant pods (as a quantity)
                        type: string
                      name:
                        description: name is the name of the metric in question
                        type: string
                      targetAverageValue:
                        description: targetAverageValue is the target value of the
                          average of the metric across all relevant pods (as a quantity)
                          defined for this metric in specs
                        type: string
                    required:
                    - currentAverageValue
                    - name
                    - targetAverageValue
                    type: object
                  resource:
                    description: resource refers to a resource metric (such as those
                      specified in requests and limits) known to Kubernetes describing
                      each pod matching the selector (e.g. CPU or memory). Such metrics
                      are built in to Kubernetes, and have special scaling options
                      on top of those available to normal per-pod metrics using the
                      "pods" source.
                    properties:
                      currentAverageUtilization:
                        description: currentAverageUtilization is the current value
                          of the average of the resource metric across all relevant
                          pods, represented as a percentage of the requested value
                          of the resource for the pods.  It will only be present if
                          `targetAverageValue` was set in the corresponding metric
                          specification.
                        format: int32
                        type: integer
                      currentAverageValue:
                        description: currentAverageValue is the current value of the
                          average of the resource metric across all relevant pods,
                          as a raw value (instead of as a percentage of the request),
                          similar to the "pods" metric source type. It will always
                          be set, regardless of the corresponding metric specification.
                        type: string
                      name:
                        description: name is the name of the resource in question.
                        type: string
                      targetAverageUtilization:
                        description: targetAverageUtilization is the target value
                          of the average of the resource metric across all relevant
                          pods defined for this metric in specs
                        format: int32
                        type: integer
                      targetAverageValue:
                        description: targetAverageValue is the target value of the
                          average of the metric across all relevant pods (as a quantity)
                          defined for this metric in specs
                        type: string
                    required:
                    - currentAverageValue
                    - name
                    type: object
                  scrapeTime:
                    description: scrapeTime is the last time the MetricWebhook scraped
                      metrics
                    format: date-time
                    type: string
                  type:
                    description: type is the type of metric source.  It should be
                      "Pods" or "Resource", each mapping to a matching field in the
                      object.
                    enum:
                    - Pods
                    - Resource
                    type: string
                required:
                - alerting
                - scrapeTime
                - type
                type: object
              type: array
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
