apiVersion: metrics.wingsofovnia.github.com/v1alpha1
kind: MetricWebhook
metadata:
  name: example-metricwebhook
spec:
  selector:
    matchLabels:
      app: hello-node
  webhook:
    service: metric-webhook-listener
    port: 8080
    path: /metrics/alerts
  scrapeInterval: 20s
  metrics:
    - type: Resource
      resource:
        name: cpu
        targetAverageUtilization: 50
